<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "images/favicons/apple-touch-icon.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "images/favicons/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "images/favicons/favicon-16x16.png" | relative_url }}">
  <link rel="manifest" href="{{ "images/favicons/site.webmanifest" | relative_url }}">
  <!-- <link rel="mask-icon" href="{{ "images/favicons/safari-pinned-tab.svg" | relative_url }}" color="#5bbad5"> -->
  <link rel="shortcut icon" href="{{ "images/favicons/favicon.ico" | relative_url }}">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="{{ "images/favicons/browserconfig.xml" | relative_url }}">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="{{ "css/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | relative_url | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="feed.xml | relative_url">

  <script src="https://kit.fontawesome.com/6fcfa72f97.js" crossorigin="anonymous"></script>

  <!-- Twitter cards -->
  <meta property="og:type" content="article">
  <meta name="twitter:site" content="@{{ site.twitter_username }}">
  <meta name="twitter:creator" content="@{{ page.author }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta property="og:title" content="{{ page.title }}">

  {% if page.summary %}
  <meta property="og:description" content="{{ page.summary }}">
  <meta name="twitter:description" content="{{ page.summary }}">
  {% else %}
  <meta property="og:description" content="{{ site.description }}">
  <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}

  {% if page.image %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
  {% else %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ site.title_image }}">
  {% endif %}
  <!-- end of Twitter cards -->
</head>